In [ ]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import models,layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df = pd.read_csv("/content/House Price India.csv")

In [ ]:
df

,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,5,2,3650,9050,2,0,4,5,10,3370,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,4,2,2920,4000,1,0,0,5,8,1910,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,5,2,2910,9480,1,0,0,3,8,2910,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,4,2,3310,42998,2,0,0,3,9,3310,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,3,2,2710,4500,1,0,0,4,8,1880,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,2,1,1556,20000,1,0,0,4,7,1556,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,3,2,1680,7000,1,0,0,4,7,1680,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,2,1,1070,6120,1,0,0,3,6,1070,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,4,1,1030,6621,1,0,0,4,6,1030,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,3,1,900,4770,1,0,0,3,6,900,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [ ]:
# drop dates
df = df.drop("Date",axis=1)

In [ ]:
# drop id column
df = df.drop("id",axis=1)

In [ ]:
df

,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,5,2.50,3650,9050,2.0,0,4,5,10,3370,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,4,2.50,2920,4000,1.5,0,0,5,8,1910,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,5,2.75,2910,9480,1.5,0,0,3,8,2910,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,4,2.50,3310,42998,2.0,0,0,3,9,3310,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,3,2.00,2710,4500,1.5,0,0,4,8,1880,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,2,1.50,1556,20000,1.0,0,0,4,7,1556,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,3,2.00,1680,7000,1.5,0,0,4,7,1680,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,2,1.00,1070,6120,1.0,0,0,3,6,1070,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,4,1.00,1030,6621,1.0,0,0,4,6,1030,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,3,1.00,900,4770,1.0,0,0,3,6,900,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
# convert the no of bedrooms from float to int

df['number of bathrooms'] = df['number of bathrooms'].astype("int")

In [ ]:
df

,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,5,2,3650,9050,2.0,0,4,5,10,3370,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,4,2,2920,4000,1.5,0,0,5,8,1910,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,5,2,2910,9480,1.5,0,0,3,8,2910,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,4,2,3310,42998,2.0,0,0,3,9,3310,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,3,2,2710,4500,1.5,0,0,4,8,1880,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,2,1,1556,20000,1.0,0,0,4,7,1556,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,3,2,1680,7000,1.5,0,0,4,7,1680,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,2,1,1070,6120,1.0,0,0,3,6,1070,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,4,1,1030,6621,1.0,0,0,4,6,1030,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,3,1,900,4770,1.0,0,0,3,6,900,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [ ]:
df['number of floors'] = df['number of floors'].astype("int")

In [ ]:
df

,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,5,2,3650,9050,2,0,4,5,10,3370,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,4,2,2920,4000,1,0,0,5,8,1910,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,5,2,2910,9480,1,0,0,3,8,2910,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,4,2,3310,42998,2,0,0,3,9,3310,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,3,2,2710,4500,1,0,0,4,8,1880,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,2,1,1556,20000,1,0,0,4,7,1556,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,3,2,1680,7000,1,0,0,4,7,1680,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,2,1,1070,6120,1,0,0,3,6,1070,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,4,1,1030,6621,1,0,0,4,6,1030,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,3,1,900,4770,1,0,0,3,6,900,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df.shape

(14620, 21)

In [ ]:
X = df.drop('Price',axis=1)
Y = df.Price

In [ ]:
X.shape

(14620, 20)

In [ ]:
Y.shape

(14620,)

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.2,random_state=10)

In [ ]:
len(xtrain),len(ytrain)

(11696, 11696)

In [ ]:
len(xtest),len(ytest)

(2924, 2924)

In [ ]:
# ANN model


model = Sequential()

model.add(Dense(20,activation='relu'))
model.add(Dense(12,activation='relu'))
model.add(Dense(24,activation='relu'))
model.add(Dense(1,activation='linear'))

In [ ]:
model.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [ ]:
model.fit(xtrain,ytrain,epochs=25,batch_size=10,validation_data=(xtest,ytest))

Epoch 1/25
1170/1170 [==============================] - 4s 3ms/step - loss: 152271028224.0000 - mse: 152271028224.0000 - val_loss: 117190647808.0000 - val_mse: 117190647808.0000
Epoch 2/25
1170/1170 [==============================] - 2s 2ms/step - loss: 124993863680.0000 - mse: 124993863680.0000 - val_loss: 109928407040.0000 - val_mse: 109928407040.0000
Epoch 3/25
1170/1170 [==============================] - 2s 2ms/step - loss: 107639349248.0000 - mse: 107639349248.0000 - val_loss: 77701218304.0000 - val_mse: 77701218304.0000
Epoch 4/25
1170/1170 [==============================] - 3s 2ms/step - loss: 71367008256.0000 - mse: 71367008256.0000 - val_loss: 56356519936.0000 - val_mse: 56356519936.0000
Epoch 5/25
1170/1170 [==============================] - 3s 2ms/step - loss: 63422132224.0000 - mse: 63422132224.0000 - val_loss: 57716240384.0000 - val_mse: 57716240384.0000
Epoch 6/25
1170/1170 [==============================] - 3s 3ms/step - loss: 62756483072.0000 - mse: 62756483072.0000 - val_loss: 57283567616.0000 - val_mse: 57283567616.0000
Epoch 7/25
1170/1170 [==============================] - 2s 2ms/step - loss: 61552959488.0000 - mse: 61552959488.0000 - val_loss: 53797519360.0000 - val_mse: 53797519360.0000
Epoch 8/25
1170/1170 [==============================] - 2s 2ms/step - loss: 61235789824.0000 - mse: 61235789824.0000 - val_loss: 54822760448.0000 - val_mse: 54822760448.0000
Epoch 9/25
1170/1170 [==============================] - 3s 2ms/step - loss: 60299431936.0000 - mse: 60299431936.0000 - val_loss: 54214225920.0000 - val_mse: 54214225920.0000
Epoch 10/25
1170/1170 [==============================] - 3s 3ms/step - loss: 59726884864.0000 - mse: 59726888960.0000 - val_loss: 51540422656.0000 - val_mse: 51540422656.0000
Epoch 11/25
1170/1170 [==============================] - 3s 3ms/step - loss: 59221843968.0000 - mse: 59221843968.0000 - val_loss: 62320885760.0000 - val_mse: 62320885760.0000
Epoch 12/25
1170/1170 [==============================] - 3s 2ms/step - loss: 58275573760.0000 - mse: 58275573760.0000 - val_loss: 50729095168.0000 - val_mse: 50729095168.0000
Epoch 13/25
1170/1170 [==============================] - 2s 2ms/step - loss: 58165567488.0000 - mse: 58165567488.0000 - val_loss: 50790256640.0000 - val_mse: 50790256640.0000
Epoch 14/25
1170/1170 [==============================] - 3s 2ms/step - loss: 57185509376.0000 - mse: 57185509376.0000 - val_loss: 50456600576.0000 - val_mse: 50456600576.0000
Epoch 15/25
1170/1170 [==============================] - 3s 3ms/step - loss: 57419079680.0000 - mse: 57419079680.0000 - val_loss: 50799349760.0000 - val_mse: 50799349760.0000
Epoch 16/25
1170/1170 [==============================] - 2s 2ms/step - loss: 56600567808.0000 - mse: 56600567808.0000 - val_loss: 49511071744.0000 - val_mse: 49511071744.0000
Epoch 17/25
1170/1170 [==============================] - 3s 2ms/step - loss: 56520097792.0000 - mse: 56520097792.0000 - val_loss: 56155627520.0000 - val_mse: 56155627520.0000
Epoch 18/25
1170/1170 [==============================] - 3s 2ms/step - loss: 56194330624.0000 - mse: 56194330624.0000 - val_loss: 50160484352.0000 - val_mse: 50160484352.0000
Epoch 19/25
1170/1170 [==============================] - 3s 3ms/step - loss: 55863902208.0000 - mse: 55863902208.0000 - val_loss: 50332176384.0000 - val_mse: 50332176384.0000
Epoch 20/25
1170/1170 [==============================] - 3s 3ms/step - loss: 55658418176.0000 - mse: 55658418176.0000 - val_loss: 49571160064.0000 - val_mse: 49571160064.0000
Epoch 21/25
1170/1170 [==============================] - 3s 2ms/step - loss: 55343026176.0000 - mse: 55343026176.0000 - val_loss: 48832466944.0000 - val_mse: 48832462848.0000
Epoch 22/25
1170/1170 [==============================] - 3s 2ms/step - loss: 55031332864.0000 - mse: 55031332864.0000 - val_loss: 50568278016.0000 - val_mse: 50568278016.0000
Epoch 23/25
1170/1170 [==============================] - 2s 2ms/step - loss: 55030259712.0000 - mse: 55030259712.0000 - val_loss: 48966348800.0000 - val_mse: 48966348800.0000
Epoch 24/25
1170/1170 [==============================] - 3s 3ms/step - loss: 54534356992.0000 - mse: 54534356992.0000 - val_loss: 50490228736.0000 - val_mse: 50490228736.0000
Epoch 25/25
1170/1170 [==============================] - 3s 2ms/step - loss: 54278369280.0000 - mse: 54278369280.0000 - val_loss: 51092094976.0000 - val_mse: 51092094976.0000

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 20)                420

 dense_13 (Dense)            (None, 12)                252

 dense_14 (Dense)            (None, 24)                312

 dense_15 (Dense)            (None, 1)                 25

=================================================================
Total params: 1,009
Trainable params: 1,009
Non-trainable params: 0
_________________________________________________________________

In [ ]:
datas = [[3,4,3850,9150,3,1,5,6,11,3380,290,1931,1,122013,53.8645,-113.557,2890,5500,3,60]]
prediction = model.predict(datas)
print(prediction)

1/1 [==============================] - 0s 37ms/step
[[897715.9]]